{% extends 'base.html' %}

{% block content %}
{% for key, value in cars.items %}
<section class="cars">
    <h2 class="title {{key}}">Авто на сайте {{key}}</h2>
    <hr>
    <div class="content {{key}}">
        {% for car in value %}
        <div class="item">
            <span class="counter">{{ forloop.counter }}</span>
            <a href="{{car.href}}" target="_blank">
                <img src="{{car.img}}" alt="Фото авто" class="img-thumbnail">
                <h4>{{car.title}}</h4>
            </a>
            <span class="price">{{car.price_S}}</span> {{car.date}}<br>
            {{car.place}}
        </div>
        {% endfor %}
    </div>
    <hr>
    <div class="footer {{car_sect}}"></div>
</section>
{% endfor %}
{% endblock content %}