{% extends 'base.html' %}

{% block content %}

<section class="cars">
    <h2 class="title olx">Авто на сайте olx</h2>
    <hr>
    <div class="content olx">

        <div class="item">
            <span class="counter">1</span>
            <a href="https://www.olx.ua/obyavlenie/prodam-kuzov-IDI7Dk7.html#54af4e6fa8" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/xbsalir2qkvc2-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Продам кузов</h4>
            </a>
            <span class="price">1 000 $</span> Сегодня 14:01<br>
            Одесса, Приморский
        </div>

        <div class="item">
            <span class="counter">2</span>
            <a href="https://www.olx.ua/obyavlenie/kia-soul-2-kia-sol-2-posle-2014-goda-vypuska-dvigatel-1-6-avtomat-IDGOrjW.html#54af4e6fa8;promoted"
                target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/gouajmvzefi02-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Kia Soul 2 - Киа Сол 2 -после 2014 года выпуска двигатель 1.6 автомат</h4>
            </a>
            <span class="price">911 $</span> Сегодня 13:50<br>
            Одесса, Киевский
        </div>

        <div class="item">
            <span class="counter">3</span>
            <a href="https://www.olx.ua/obyavlenie/prodam-mashinu-IDI7CIE.html#54af4e6fa8" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/r1nolvx96qct3-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Продам машину</h4>
            </a>
            <span class="price">467 $</span> Сегодня 13:48<br>
            Грибовка
        </div>

        <div class="item">
            <span class="counter">4</span>
            <a href="https://www.olx.ua/obyavlenie/prodam-reno-laguna-1-IDI7BHq.html#54af4e6fa8" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/uqwtltae9vwf3-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Продам рено лагуна 1</h4>
            </a>
            <span class="price">800 $</span> Сегодня 13:26<br>
            Одесса, Малиновский
        </div>

        <div class="item">
            <span class="counter">5</span>
            <a href="https://www.olx.ua/obyavlenie/opel-astra-g-1-7-tdi-IDI7BoR.html#54af4e6fa8" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/ao7dpzmhp6wb1-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Opel astra g 1.7 tdi</h4>
            </a>
            <span class="price">897 $</span> Сегодня 13:19<br>
            Одесса, Приморский
        </div>

        <div class="item">
            <span class="counter">6</span>
            <a href="https://www.olx.ua/obyavlenie/srochno-prodam-skoda-fabia-2001-IDI7AEJ.html#54af4e6fa8"
                target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/o7edxkovsdoq2-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Срочно, продам Skoda Fabia 2001</h4>
            </a>
            <span class="price">700 $</span> Сегодня 13:02<br>
            Корсунцы
        </div>

        <div class="item">
            <span class="counter">7</span>
            <a href="https://www.olx.ua/obyavlenie/zazdaewoo-mashina-v-odesse-IDHgFNz.html#54af4e6fa8" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/6c7yn7h6miw11-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>zazdaewoo. Машина в Одессе</h4>
            </a>
            <span class="price">448 $</span> Сегодня 12:46<br>
            Арциз
        </div>

        <div class="item">
            <span class="counter">8</span>
            <a href="https://www.olx.ua/obyavlenie/foltsvagen-dzhetta-volkswagen-jetta-2010-IDI2QHG.html#54af4e6fa8"
                target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/ajpkb3b2l82d-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Фольцваген Джетта VOLKSWAGEN JETTA 2010</h4>
            </a>
            <span class="price">700 $</span> Сегодня 11:13<br>
            Одесса, Приморский
        </div>

        <div class="item">
            <span class="counter">9</span>
            <a href="https://www.olx.ua/obyavlenie/prodam-volkswagen-golf-4-1-9-tdi-IDI7v22.html#54af4e6fa8"
                target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/ivfj3r14hzxd2-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Продам Volkswagen Golf 4 1.9 tdi</h4>
            </a>
            <span class="price">1 000 $</span> Сегодня 11:10<br>
            Одесса, Малиновский
        </div>

        <div class="item">
            <span class="counter">10</span>
            <a href="https://www.olx.ua/obyavlenie/foltsvagen-passat-volkswagen-passat-2010-IDI2Qj7.html#54af4e6fa8"
                target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/3y5sklq2zeiq-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Фольцваген Пассат VOLKSWAGEN PASSAT 2010</h4>
            </a>
            <span class="price">800 $</span> Сегодня 11:05<br>
            Одесса, Приморский
        </div>

        <div class="item">
            <span class="counter">11</span>
            <a href="https://www.olx.ua/obyavlenie/avto-zaporozhets-IDDG5hn.html#54af4e6fa8" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/77ch9zxhemcb-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Авто Запорожец</h4>
            </a>
            <span class="price">200 $</span> Вчера 22:45<br>
            Одесса, Киевский
        </div>

        <div class="item">
            <span class="counter">12</span>
            <a href="https://www.olx.ua/obyavlenie/prodam-2108-IDI7j6V.html#54af4e6fa8" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/l8u231wvt2pr3-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Продам 2108</h4>
            </a>
            <span class="price">1 100 $</span> Вчера 20:48<br>
            Одесса, Суворовский
        </div>

        <div class="item">
            <span class="counter">13</span>
            <a href="https://www.olx.ua/obyavlenie/prodam-zhiguli-4-na-gazu-IDI5heg.html#54af4e6fa8;promoted"
                target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/wvq9wh2vgbuv-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Продам жигули 4 на газу!</h4>
            </a>
            <span class="price">1 100 $</span> Вчера 20:28<br>
            Одесса, Киевский
        </div>

        <div class="item">
            <span class="counter">14</span>
            <a href="https://www.olx.ua/obyavlenie/kia-forte-ex-kia-2013-IDHY2Gg.html#54af4e6fa8" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/rplihvqhcvek2-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Kia Forte EX Киа 2013</h4>
            </a>
            <span class="price">950 $</span> Вчера 20:18<br>
            Одесса, Приморский
        </div>

        <div class="item">
            <span class="counter">15</span>
            <a href="https://www.olx.ua/obyavlenie/vaz-2107-eksportniy-variant-IDFWsjy.html#54af4e6fa8;promoted"
                target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/ufatr4pb36c62-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Ваз 2107 експортний вариант</h4>
            </a>
            <span class="price">900 $</span> Вчера 19:21<br>
            Дачное
        </div>

        <div class="item">
            <span class="counter">16</span>
            <a href="https://www.olx.ua/obyavlenie/prodam-mersedes-vito-638-2-2-2003-IDFM6O3.html#54af4e6fa8"
                target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/v5cyvahrk4nu1-UA/image;s=644x461;r=270"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Продам мерседес вито 638 2.2 2003</h4>
            </a>
            <span class="price">1 200 $</span> Вчера 16:47<br>
            Одесса, Малиновский
        </div>

        <div class="item">
            <span class="counter">17</span>
            <a href="https://www.olx.ua/obyavlenie/ford-focus-se-2014-IDI76Bs.html#54af4e6fa8" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/jhdc077j4wbp1-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>FORD Focus SE 2014</h4>
            </a>
            <span class="price">1 200 $</span> Вчера 15:47<br>
            Одесса, Киевский
        </div>

        <div class="item">
            <span class="counter">18</span>
            <a href="https://www.olx.ua/obyavlenie/srochno-saab-95-tid-3-0-saab-dizel-arc-universal-tsena-na-vyvoz-IDHMeHG.html#54af4e6fa8"
                target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/mv08a8pgwmb2-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>срочно SAAB 95 TID 3,0 СААБ дизель ARC универсал цена на вывоз</h4>
            </a>
            <span class="price">800 $</span> Вчера 14:26<br>
            Одесса, Приморский
        </div>

        <div class="item">
            <span class="counter">19</span>
            <a href="https://www.olx.ua/obyavlenie/prodam-vaz-2109-IDI2Zdy.html#54af4e6fa8" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/5oetnsan4obr-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Продам Ваз 2109</h4>
            </a>
            <span class="price">600 $</span> Вчера 14:17<br>
            Майори
        </div>

        <div class="item">
            <span class="counter">20</span>
            <a href="https://www.olx.ua/obyavlenie/opel-astra-f-1-6-po-chastyam-97g-v-IDI70VO.html#54af4e6fa8"
                target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/53o4mbfozhmp-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Опель астра ф 1.6 по частям 97г.в</h4>
            </a>
            <span class="price">755 $</span> Вчера 13:52<br>
            Одесса, Малиновский
        </div>

        <div class="item">
            <span class="counter">21</span>
            <a href="https://www.olx.ua/obyavlenie/srosno-torg-IDI70Gg.html#54af4e6fa8" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/n4gobjltet3l2-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>сросно торг</h4>
            </a>
            <span class="price">1 100 $</span> Вчера 13:47<br>
            Одесса, Малиновский
        </div>

        <div class="item">
            <span class="counter">22</span>
            <a href="https://www.olx.ua/obyavlenie/honda-af34-IDI704s.html#54af4e6fa8" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/y5wql9szq1b23-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Хонда аф34</h4>
            </a>
            <span class="price">420 $</span> Вчера 13:35<br>
            Дачное
        </div>

        <div class="item">
            <span class="counter">23</span>
            <a href="https://www.olx.ua/obyavlenie/bystro-saab-95-tid-3-0-saab-aero-dizel-pod-remont-razborku-tselikom-IDHah5q.html#54af4e6fa8"
                target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/i2a6kg1jjd7k1-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>быстро SAAB 95 TID 3,0 СААБ AERO дизель под ремонт/разборку целиком</h4>
            </a>
            <span class="price">880 $</span> Вчера 12:17<br>
            Одесса, Киевский
        </div>

        <div class="item">
            <span class="counter">24</span>
            <a href="https://www.olx.ua/obyavlenie/zapchasti-cheri-m11-chery-m11-IDI6GFN.html#54af4e6fa8"
                target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/v67oy7eseydr1-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Запчасти Чери м11 chery m11</h4>
            </a>
            <span class="price">1 000 $</span> 21 май<br>
            Одесса, Малиновский
        </div>

        <div class="item">
            <span class="counter">25</span>
            <a href="https://www.olx.ua/obyavlenie/nissan-65471-2y010-IDHGULE.html#54af4e6fa8" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/vginykd917g-UA/image;s=644x461" alt="Фото авто"
                    class="img-thumbnail">
                <h4>Nissan 65471-2Y010</h4>
            </a>
            <span class="price">415 $</span> 21 май<br>
            Одесса, Малиновский
        </div>

        <div class="item">
            <span class="counter">26</span>
            <a href="https://www.olx.ua/obyavlenie/prodam-avtomobil-vaz-2106-IDI6F0r.html#54af4e6fa8" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/pv77rwe1mdh81-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Продам автомобиль ваз-2106</h4>
            </a>
            <span class="price">1 121 $</span> 21 май<br>
            Одесса, Киевский
        </div>

        <div class="item">
            <span class="counter">27</span>
            <a href="https://www.olx.ua/obyavlenie/audi-as5-razborka-IDHrFHF.html#54af4e6fa8" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/zo3dt04kr68v1-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>ауди а:с5 разборка</h4>
            </a>
            <span class="price">555 $</span> 21 май<br>
            Одесса, Суворовский
        </div>

        <div class="item">
            <span class="counter">28</span>
            <a href="https://www.olx.ua/obyavlenie/prodam-vaz-2109-1995g-v-horoshem-sostoyanii-IDI6yWi.html#54af4e6fa8"
                target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/5dnfwkduc7ed-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Продам Ваз 2109 1995г в хорошем состоянии</h4>
            </a>
            <span class="price">1 200 $</span> 21 май<br>
            Одесса, Киевский
        </div>

        <div class="item">
            <span class="counter">29</span>
            <a href="https://www.olx.ua/obyavlenie/daewoo-nexia-IDI6xA9.html#54af4e6fa8" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/zd064xijsbc9-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Daewoo nexia</h4>
            </a>
            <span class="price">800 $</span> 21 май<br>
            Одесса, Суворовский
        </div>

        <div class="item">
            <span class="counter">30</span>
            <a href="https://www.olx.ua/obyavlenie/prodam-moskvich-IDI6pbu.html#54af4e6fa8" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/uh7u7ml566vf2-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Продам москвич</h4>
            </a>
            <span class="price">822 $</span> 21 май<br>
            Беленькое
        </div>

        <div class="item">
            <span class="counter">31</span>
            <a href="https://www.olx.ua/obyavlenie/zaz-tavriya-IDI5YcE.html#54af4e6fa8" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/y5c4l03j0gg91-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>ЗАЗ Таврия</h4>
            </a>
            <span class="price">750 $</span> 20 май<br>
            Одесса, Приморский
        </div>

        <div class="item">
            <span class="counter">32</span>
            <a href="https://www.olx.ua/obyavlenie/fiat-500-pop-fiat-2013-IDHVDBl.html#54af4e6fa8" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/u74bfki3sffu2-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Fiat 500 POP Фиат 2013</h4>
            </a>
            <span class="price">800 $</span> 20 май<br>
            Одесса, Приморский
        </div>

        <div class="item">
            <span class="counter">33</span>
            <a href="https://www.olx.ua/obyavlenie/azlk-moskvich-IDEPcMC.html#54af4e6fa8" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/iw9mxyb19fue1-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>АЗЛК москвич</h4>
            </a>
            <span class="price">336 $</span> 20 май<br>
            Окны
        </div>

        <div class="item">
            <span class="counter">34</span>
            <a href="https://www.olx.ua/obyavlenie/mitsubishi-lancer-gts-mitsubisi-2011-IDHVz3u.html#54af4e6fa8"
                target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/urtipajcaxan2-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Mitsubishi Lancer GTS Митсубиси 2011</h4>
            </a>
            <span class="price">1 100 $</span> 20 май<br>
            Одесса, Приморский
        </div>

        <div class="item">
            <span class="counter">35</span>
            <a href="https://www.olx.ua/obyavlenie/kia-forte-ex-kia-2013-IDI5SQ8.html#54af4e6fa8" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/hjiqz8jfy3gg3-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Kia Forte EX Киа 2013</h4>
            </a>
            <span class="price">950 $</span> 20 май<br>
            Одесса, Приморский
        </div>

        <div class="item">
            <span class="counter">36</span>
            <a href="https://www.olx.ua/obyavlenie/mazda-3-i-mazda-2013-IDI5R0M.html#54af4e6fa8" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/iztki7bmqub63-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Mazda 3 I Mазда 2013</h4>
            </a>
            <span class="price">1 000 $</span> 20 май<br>
            Одесса, Приморский
        </div>

        <div class="item">
            <span class="counter">37</span>
            <a href="https://www.olx.ua/obyavlenie/kia-soul-kia-2013-IDI5iCb.html#54af4e6fa8" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/f5rdzst4vai9-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Kia Soul + Киа 2013</h4>
            </a>
            <span class="price">1 000 $</span> 19 май<br>
            Одесса, Приморский
        </div>

        <div class="item">
            <span class="counter">38</span>
            <a href="https://www.olx.ua/obyavlenie/kia-ceed-IDH3zyI.html#54af4e6fa8" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/9wrl9l6pacb61-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Kia ceed</h4>
            </a>
            <span class="price">600 $</span> 19 май<br>
            Одесса, Малиновский
        </div>

        <div class="item">
            <span class="counter">39</span>
            <a href="https://www.olx.ua/obyavlenie/tavriya-pikap-IDI5ej0.html#54af4e6fa8" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/fn24ir1eohuc1-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Таврия пикап</h4>
            </a>
            <span class="price">1 196 $</span> 19 май<br>
            Измаил
        </div>

        <div class="item">
            <span class="counter">40</span>
            <a href="https://www.olx.ua/obyavlenie/prodam-IDI5aL4.html#97a3f8834e" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/flm4xfey7gkt2-UA/image;s=644x461;r=270"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Продам</h4>
            </a>
            <span class="price">1 150 $</span> 19 май<br>
            Одесса, Суворовский
        </div>

        <div class="item">
            <span class="counter">41</span>
            <a href="https://www.olx.ua/obyavlenie/hyundai-veloster-2012-IDHWIzN.html#97a3f8834e" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/t4gm9hlxs7d3-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>HYUNDAI Veloster 2012</h4>
            </a>
            <span class="price">1 100 $</span> 19 май<br>
            Одесса, Киевский
        </div>

        <div class="item">
            <span class="counter">42</span>
            <a href="https://www.olx.ua/obyavlenie/dodge-dart-sxt-2013-IDHWGl2.html#97a3f8834e" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/ykqupduo9hwt1-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>DODGE Dart SXT 2013</h4>
            </a>
            <span class="price">1 200 $</span> 19 май<br>
            Одесса, Киевский
        </div>

        <div class="item">
            <span class="counter">43</span>
            <a href="https://www.olx.ua/obyavlenie/prodam-IDI4Lgf.html#97a3f8834e" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/8puq08cq2mxg2-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>продам</h4>
            </a>
            <span class="price">1 100 $</span> 19 май<br>
            Котовск
        </div>

        <div class="item">
            <span class="counter">44</span>
            <a href="https://www.olx.ua/obyavlenie/mazda-3-mazda-3-2013-IDHZRTv.html#97a3f8834e" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/kn3b1ze6jydm2-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Мазда 3 MAZDA 3 2013</h4>
            </a>
            <span class="price">1 000 $</span> 18 май<br>
            Одесса, Приморский
        </div>

        <div class="item">
            <span class="counter">45</span>
            <a href="https://www.olx.ua/obyavlenie/zaz-1140-IDI4BKA.html#97a3f8834e" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/m4qgc4q9srel3-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Заз 1140</h4>
            </a>
            <span class="price">934 $</span> 18 май<br>
            Котовск
        </div>

        <div class="item">
            <span class="counter">46</span>
            <a href="https://www.olx.ua/obyavlenie/mers-220-bombovoz-mehanika-dizel-IDI4zxb.html#97a3f8834e"
                target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/t1w0me8umtrf3-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Мерс 220 бомбовоз , механика , дизель</h4>
            </a>
            <span class="price">1 200 $</span> 18 май<br>
            Белгород-Днестровский
        </div>

        <div class="item">
            <span class="counter">47</span>
            <a href="https://www.olx.ua/obyavlenie/prodam-tavriya-pikap-110557-IDI4xiy.html#97a3f8834e" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/d4lievygy0hl2-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Продам Таврия Пикап 110557</h4>
            </a>
            <span class="price">1 196 $</span> 18 май<br>
            Одесса, Малиновский
        </div>

        <div class="item">
            <span class="counter">48</span>
            <a href="https://www.olx.ua/obyavlenie/kia-rio-ex-2013-IDHUVZp.html#97a3f8834e" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/gemsnrl23zrz-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Kia RIO EX 2013</h4>
            </a>
            <span class="price">1 200 $</span> 18 май<br>
            Одесса, Киевский
        </div>

        <div class="item">
            <span class="counter">49</span>
            <a href="https://www.olx.ua/obyavlenie/vaz-2107-IDHJV6g.html#97a3f8834e" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/3qe4geg344u23-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>ВАЗ 2107</h4>
            </a>
            <span class="price">1 150 $</span> 18 май<br>
            Котовск
        </div>

        <div class="item">
            <span class="counter">50</span>
            <a href="https://www.olx.ua/obyavlenie/prodam-daewoo-nexia-IDI4dRo.html#97a3f8834e" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/60fszyd2ewn01-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Продам Daewoo Nexia</h4>
            </a>
            <span class="price">550 $</span> 18 май<br>
            Одесса, Киевский
        </div>

        <div class="item">
            <span class="counter">51</span>
            <a href="https://www.olx.ua/obyavlenie/chery-qq-cheri-kyu-kyu-IDHjS1G.html#97a3f8834e" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/d0lnkg448h4j-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Chery QQ Чери кю кю</h4>
            </a>
            <span class="price">934 $</span> 18 май<br>
            Ильичевка
        </div>

        <div class="item">
            <span class="counter">52</span>
            <a href="https://www.olx.ua/obyavlenie/hyundai-elantra-se-hyunday-elantra-2016-IDI3WK3.html#97a3f8834e"
                target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/2nz5sdc1mvif1-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Hyundai Elantra SE Хюндай Элантра 2016</h4>
            </a>
            <span class="price">1 200 $</span> 17 май<br>
            Одесса, Приморский
        </div>

        <div class="item">
            <span class="counter">53</span>
            <a href="https://www.olx.ua/obyavlenie/toyota-scion-tc-toyota-2010-IDI3UZ9.html#97a3f8834e" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/i6m7blw4qmud-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Toyota Scion TC Тойота 2010</h4>
            </a>
            <span class="price">800 $</span> 17 май<br>
            Одесса, Приморский
        </div>

        <div class="item">
            <span class="counter">54</span>
            <a href="https://www.olx.ua/obyavlenie/prodam-volkswagen-tiguan-4motion-sport-IDGOY1G.html#97a3f8834e"
                target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/ddy0ozo5y7r61-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Продам Volkswagen Tiguan 4MOTION SPORT</h4>
            </a>
            <span class="price">691 $</span> 17 май<br>
            Белгород-Днестровский
        </div>

        <div class="item">
            <span class="counter">55</span>
            <a href="https://www.olx.ua/obyavlenie/prodam-IDI3wxh.html#97a3f8834e" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/yz72437cl18b1-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Продам</h4>
            </a>
            <span class="price">900 $</span> 17 май<br>
            Татарбунары
        </div>

        <div class="item">
            <span class="counter">56</span>
            <a href="https://www.olx.ua/obyavlenie/zaz-110557-tavriya-furgon-gruz-2003-tsena-s-nds-IDFu5Rt.html#97a3f8834e"
                target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/jkwzkba25opa3-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>ЗАЗ 110557 Таврия фургон груз 2003. Цена с НДС</h4>
            </a>
            <span class="price">990 $</span> 17 май<br>
            Раздельная
        </div>

        <div class="item">
            <span class="counter">57</span>
            <a href="https://www.olx.ua/obyavlenie/gaz-31029-1996god-IDHkkDO.html#97a3f8834e" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/2b3xes1xl6is2-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>ГАЗ 31029 1996год</h4>
            </a>
            <span class="price">1 009 $</span> 17 май<br>
            Одесса, Киевский
        </div>

        <div class="item">
            <span class="counter">58</span>
            <a href="https://www.olx.ua/obyavlenie/volga-gaz-2410-IDGP6ze.html#97a3f8834e" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/7b5v7s9x7cc62-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Волга Газ-2410</h4>
            </a>
            <span class="price">800 $</span> 17 май<br>
            Крыжановка
        </div>

        <div class="item">
            <span class="counter">59</span>
            <a href="https://www.olx.ua/obyavlenie/volvo-v40-avtomobil-avtomat-universal-IDHZyBW.html#97a3f8834e"
                target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/k9xz8aymg9eg1-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Volvo v40 Автомобиль автомат универсал</h4>
            </a>
            <span class="price">1 100 $</span> 16 май<br>
            Белгород-Днестровский
        </div>

        <div class="item">
            <span class="counter">60</span>
            <a href="https://www.olx.ua/obyavlenie/tavriya-IDGzZCt.html#97a3f8834e" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/2crvmq7lsib71-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Таврия</h4>
            </a>
            <span class="price">1 000 $</span> 16 май<br>
            Нерубайское
        </div>

        <div class="item">
            <span class="counter">61</span>
            <a href="https://www.olx.ua/obyavlenie/prodam-daewoo-lanos-IDI2JTM.html#97a3f8834e" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/pekcnarlkimb3-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Продам Daewoо Lanos</h4>
            </a>
            <span class="price">1 200 $</span> 16 май<br>
            Тарутино
        </div>

        <div class="item">
            <span class="counter">62</span>
            <a href="https://www.olx.ua/obyavlenie/prodam-motory-vaz-IDHIBjE.html#97a3f8834e" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/6jyw25zmsi982-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Продам моторы ВАЗ</h4>
            </a>
            <span class="price">187 $</span> 15 май<br>
            Красноселка
        </div>

        <div class="item">
            <span class="counter">63</span>
            <a href="https://www.olx.ua/obyavlenie/prodam-kapot-b-u-dlya-ford-mustang-2018-IDI2DYQ.html#97a3f8834e"
                target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/sy7hf0e8k1ts1-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Продам капот б.у. для Форд Мустанг 2018</h4>
            </a>
            <span class="price">262 $</span> 15 май<br>
            Одесса, Суворовский
        </div>

        <div class="item">
            <span class="counter">64</span>
            <a href="https://www.olx.ua/obyavlenie/daihatsu-l201-grand-move-yrv-cuore-IDGVXu2.html#97a3f8834e"
                target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/kxyvxrvo356p3-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Daihatsu l201 Grand Move,yrv,Cuore</h4>
            </a>
            <span class="price">450 $</span> 15 май<br>
            Одесса, Киевский
        </div>

        <div class="item">
            <span class="counter">65</span>
            <a href="https://www.olx.ua/obyavlenie/mersedes-vito-638-IDEe7tg.html#97a3f8834e" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/p6qx2yd83f033-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Мерседес вито 638</h4>
            </a>
            <span class="price">1 200 $</span> 15 май<br>
            Одесса, Киевский
        </div>

        <div class="item">
            <span class="counter">66</span>
            <a href="https://www.olx.ua/obyavlenie/prodam-trebuet-remonta-IDI2qSP.html#97a3f8834e" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/kqt8nqjz9fzr1-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Продам требует ремонта</h4>
            </a>
            <span class="price">1 000 $</span> 15 май<br>
            Белгород-Днестровский
        </div>

        <div class="item">
            <span class="counter">67</span>
            <a href="https://www.olx.ua/obyavlenie/vaz-2107-IDHu5Yt.html#97a3f8834e" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/u6mkzm7eofql1-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Ваз 2107</h4>
            </a>
            <span class="price">950 $</span> 15 май<br>
            Михайловка
        </div>

        <div class="item">
            <span class="counter">68</span>
            <a href="https://www.olx.ua/obyavlenie/prodam-avtomobil-IDDL7r3.html#97a3f8834e" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/dclgom9owric1-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Продам автомобиль</h4>
            </a>
            <span class="price">1 000 $</span> 15 май<br>
            Одесса, Киевский
        </div>

        <div class="item">
            <span class="counter">69</span>
            <a href="https://www.olx.ua/obyavlenie/volvo-v40-avtomat-IDHZytR.html#97a3f8834e" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/6244t8e281g01-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Volvo v40 автомат</h4>
            </a>
            <span class="price">1 100 $</span> 14 май<br>
            Белгород-Днестровский
        </div>

        <div class="item">
            <span class="counter">70</span>
            <a href="https://www.olx.ua/obyavlenie/vaz-2107-98goda-gaz-benzin-IDI1YTu.html#97a3f8834e" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/2cwzl1ghrgez1-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Ваз 2107 98года газ/бензин</h4>
            </a>
            <span class="price">980 $</span> 14 май<br>
            Барабой
        </div>

        <div class="item">
            <span class="counter">71</span>
            <a href="https://www.olx.ua/obyavlenie/nissan-kashkay-obmen-IDH31hA.html#97a3f8834e" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/n0cjus9a7qi13-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Ниссан Кашкай.обмен</h4>
            </a>
            <span class="price">1 000 $</span> 14 май<br>
            Латовка
        </div>

        <div class="item">
            <span class="counter">72</span>
            <a href="https://www.olx.ua/obyavlenie/prodam-mashinu-IDI1Wqi.html#97a3f8834e" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/jjqxw85lr7ms3-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Продам машину</h4>
            </a>
            <span class="price">1 100 $</span> 14 май<br>
            Одесса, Киевский
        </div>

        <div class="item">
            <span class="counter">73</span>
            <a href="https://www.olx.ua/obyavlenie/kuzov-s-dokumentami-IDHg1Rx.html#97a3f8834e" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/rmw97xd5ej1r3-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Кузов с документами</h4>
            </a>
            <span class="price">250 $</span> 14 май<br>
            Одесса, Киевский
        </div>

        <div class="item">
            <span class="counter">74</span>
            <a href="https://www.olx.ua/obyavlenie/audi-a6c5-2-4-gbo-4-IDFKx5F.html#97a3f8834e" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/o8m7oac4b8wu3-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Audi a6c5 2.4 ГБО-4</h4>
            </a>
            <span class="price">899 $</span> 14 май<br>
            Одесса, Малиновский
        </div>

        <div class="item">
            <span class="counter">75</span>
            <a href="https://www.olx.ua/obyavlenie/vykup-avto-na-evro-nomerah-IDI1JfS.html#97a3f8834e" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/g35xwjwek6ib-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Выкуп авто на евро-номерах.</h4>
            </a>
            <span class="price">1 000 $</span> 14 май<br>
            Одесса, Малиновский
        </div>

        <div class="item">
            <span class="counter">76</span>
            <a href="https://www.olx.ua/obyavlenie/daewoo-sens-IDI1udj.html#97a3f8834e" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/fhqrsxghxgjy1-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Daewoo Sens</h4>
            </a>
            <span class="price">650 $</span> 14 май<br>
            Одесса, Малиновский
        </div>

        <div class="item">
            <span class="counter">77</span>
            <a href="https://www.olx.ua/obyavlenie/vaz-2107-2004-g-v-IDH0oiU.html#97a3f8834e" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/6t7mf3efnyiu2-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Ваз 2107...2004 г.в.</h4>
            </a>
            <span class="price">950 $</span> 14 май<br>
            Одесса, Приморский
        </div>

        <div class="item">
            <span class="counter">78</span>
            <a href="https://www.olx.ua/obyavlenie/prodam-gidroblok-mercedes-benz-IDI1844.html#97a3f8834e"
                target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/ny7lzwa5xzke2-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Продам гидроблок Mercedes-Benz</h4>
            </a>
            <span class="price">486 $</span> 13 май<br>
            Кучурган
        </div>

        <div class="item">
            <span class="counter">79</span>
            <a href="https://www.olx.ua/obyavlenie/shevrole-evanda-IDHywMK.html#0885655396" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/hol0t2z7bmbn2-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Шевроле Эванда</h4>
            </a>
            <span class="price">700 $</span> 13 май<br>
            Одесса, Малиновский
        </div>

        <div class="item">
            <span class="counter">80</span>
            <a href="https://www.olx.ua/obyavlenie/prodam-tavriyu-IDI0XaY.html#0885655396" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/3gku54pjbhhh1-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Продам таврию</h4>
            </a>
            <span class="price">747 $</span> 13 май<br>
            Одесса, Суворовский
        </div>

        <div class="item">
            <span class="counter">81</span>
            <a href="https://www.olx.ua/obyavlenie/prodam-zhiguli-IDFvagb.html#0885655396" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/nw8njxcpidmo-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Продам жигули</h4>
            </a>
            <span class="price">1 200 $</span> 13 май<br>
            Черноморск
        </div>

        <div class="item">
            <span class="counter">82</span>
            <a href="https://www.olx.ua/obyavlenie/prodam-vaz-2107-IDGQ4gj.html#0885655396" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/mhlipt2l7ns82-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Продам ВАЗ 2107</h4>
            </a>
            <span class="price">1 100 $</span> 11 май<br>
            Теплица
        </div>

        <div class="item">
            <span class="counter">83</span>
            <a href="https://www.olx.ua/obyavlenie/prodam-zaz-1102-IDHZK3o.html#0885655396" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/cdhbnr18lm193-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Продам ЗАЗ 1102</h4>
            </a>
            <span class="price">1 100 $</span> 11 май<br>
            Одесса, Малиновский
        </div>

        <div class="item">
            <span class="counter">84</span>
            <a href="https://www.olx.ua/obyavlenie/opel-vectra-b-1-6-posle-remonta-IDGR2dF.html#0885655396"
                target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/o46rzw7xxa1r-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Opel vectra b 1.6 после ремонта</h4>
            </a>
            <span class="price">1 000 $</span> 11 май<br>
            Новоукраинка
        </div>

        <div class="item">
            <span class="counter">85</span>
            <a href="https://www.olx.ua/obyavlenie/prdam-obmen-IDGJl73.html#0885655396" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/2pi6bazrzig61-UA/image;s=644x461;r=270"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Прдам обмен</h4>
            </a>
            <span class="price">1 121 $</span> 11 май<br>
            Латовка
        </div>

        <div class="item">
            <span class="counter">86</span>
            <a href="https://www.olx.ua/obyavlenie/opel-astra-f-po-chastyam-1-6-monoinzh-97g-v-IDHZhQl.html#0885655396"
                target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/yrpj6tqjgv7s2-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>опель астра f по частям 1.6 моноинж.97г.в.</h4>
            </a>
            <span class="price">755 $</span> 11 май<br>
            Одесса, Малиновский
        </div>

        <div class="item">
            <span class="counter">87</span>
            <a href="https://www.olx.ua/obyavlenie/srochno-prodam-nissan-x-trail-IDGBKLr.html#0885655396"
                target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/xw3snxja6thu-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>СРОЧНО продам Nissan x-trail.</h4>
            </a>
            <span class="price">550 $</span> 11 май<br>
            Одесса, Киевский
        </div>

        <div class="item">
            <span class="counter">88</span>
            <a href="https://www.olx.ua/obyavlenie/vaz-21-po-zapchastyam-IDHYPA7.html#0885655396" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/c4lqnx1l9rq61-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>ВАЗ 21 по запчастям</h4>
            </a>
            <span class="price">149 $</span> 10 май<br>
            Болград
        </div>

        <div class="item">
            <span class="counter">89</span>
            <a href="https://www.olx.ua/obyavlenie/prodam-bmv-525-m57-IDHhgix.html#0885655396" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/46r28hjpi3cj-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Продам БМВ 525 М57</h4>
            </a>
            <span class="price">600 $</span> 9 май<br>
            Рени
        </div>

        <div class="item">
            <span class="counter">90</span>
            <a href="https://www.olx.ua/obyavlenie/moped-skuter-prodam-IDHYvUK.html#0885655396" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/ma4mo8blinyd-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Мопед, скутер, продам!</h4>
            </a>
            <span class="price">243 $</span> 9 май<br>
            Измаил
        </div>

        <div class="item">
            <span class="counter">91</span>
            <a href="https://www.olx.ua/obyavlenie/prodam-bmw-IDHYna4.html#0885655396" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/zikzjoo3eqg71-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Продам BMW</h4>
            </a>
            <span class="price">1 150 $</span> 9 май<br>
            Вилково
        </div>

        <div class="item">
            <span class="counter">92</span>
            <a href="https://www.olx.ua/obyavlenie/dodge-journey-dodzh-zhorney-800ue-IDHE1jh.html#0885655396"
                target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/goofd2tvpjqv2-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Dodge Journey Додж Жорней 800уе</h4>
            </a>
            <span class="price">800 $</span> 9 май<br>
            Одесса, Малиновский
        </div>

        <div class="item">
            <span class="counter">93</span>
            <a href="https://www.olx.ua/obyavlenie/avto-evro-blyahi-razbor-IDDyWRy.html#0885655396" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/i7fvdplh277s-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Авто-евро-бляхи-разбор</h4>
            </a>
            <span class="price">498 $</span> 8 май<br>
            Великодолинское
        </div>

        <div class="item">
            <span class="counter">94</span>
            <a href="https://www.olx.ua/obyavlenie/prodam-avtomobil-zaz-slavutu-IDHXYCy.html#0885655396"
                target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/ifbtgcqgseqm-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Продам автомобиль Заз Славуту</h4>
            </a>
            <span class="price">1 177 $</span> 8 май<br>
            Беляевка
        </div>

        <div class="item">
            <span class="counter">95</span>
            <a href="https://www.olx.ua/obyavlenie/opel-vectra-b-ne-na-hodu-na-zapchasti-prodayu-IDFdJwW.html#0885655396"
                target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/ja0sfljakpwp-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Opel vectra b НЕ НА ХОДУ!НА ЗАПЧАСТИ!продаю</h4>
            </a>
            <span class="price">600 $</span> 8 май<br>
            Одесса, Киевский
        </div>

        <div class="item">
            <span class="counter">96</span>
            <a href="https://www.olx.ua/obyavlenie/vaz-2107-IDHD0Hn.html#0885655396" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/lmcvyrcdpd6d2-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Ваз 2107</h4>
            </a>
            <span class="price">800 $</span> 8 май<br>
            Молога
        </div>

        <div class="item">
            <span class="counter">97</span>
            <a href="https://www.olx.ua/obyavlenie/prodam-ne-dorogo-200-IDHD0YO.html#0885655396" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/8snyojz54bwq-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Продам не дорого 200$</h4>
            </a>
            <span class="price">374 $</span> 7 май<br>
            Одесса, Малиновский
        </div>

        <div class="item">
            <span class="counter">98</span>
            <a href="https://www.olx.ua/obyavlenie/reno-9-IDv5aB6.html#0885655396" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/p6d2gin7vmc4-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Рено 9</h4>
            </a>
            <span class="price">374 $</span> 7 май<br>
            Степное
        </div>

        <div class="item">
            <span class="counter">99</span>
            <a href="https://www.olx.ua/obyavlenie/volga-3110-IDHBPaM.html#0885655396" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/gxw75tswl70r-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Волга 3110</h4>
            </a>
            <span class="price">550 $</span> 6 май<br>
            Фонтанка
        </div>

        <div class="item">
            <span class="counter">100</span>
            <a href="https://www.olx.ua/obyavlenie/prodam-vaz-2104-IDHVCUC.html#0885655396" target="_blank">
                <img src="https://ireland.apollo.olxcdn.com:443/v1/files/35xi4ahmxp911-UA/image;s=644x461"
                    alt="Фото авто" class="img-thumbnail">
                <h4>Продам Ваз 2104</h4>
            </a>
            <span class="price">1 050 $</span> 6 май<br>
            Одесса, Приморский
        </div>

    </div>
    <hr>
    <div class="footer "></div>
</section>

{% endblock content %}