<div class="sidenav">
    <form action="{% url 'index' %}" method="post">
        <p>
            <label for="f_price1">Цена</label>
            <select name="pric1" id="f_price1">
                <option value="0" selected="selected" style="color:#CCC;">от</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
                <option value="1200">1200</option>
                <option value="1500">1500</option>
                <option value="2000">2000</option>
            </select>
            <label>-</label>
            <select name="price2" id="f_price2">
                <option value="0" style="color:#CCC;">до</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
                <option value="1200">1200</option>
                <option value="1500">1500</option>
                <option value="2000">2000</option>
            </select>
        </p>
        <p>
            <label for="f_year1">Год</label>
            <select name="year1" id="f_year1">
                <option value="0" selected="selected" style="color:#CCC;">от</option>
                <option value="1995">1995</option>
                <option value="1996">1996</option>
                <option value="1997">1997</option>
                <option value="1998">1998</option>
                <option value="1999">1999</option>
                <option value="2000">2000</option>
            </select>
            <label>-</label>
            <select name="year2" id="f_year2">
                <option value="0" style="color:#CCC;">до</option>
                <option value="1995">1995</option>
                <option value="1996">1996</option>
                <option value="1997">1997</option>
                <option value="1998">1998</option>
                <option value="1999">1999</option>
                <option value="2000">2000</option>
            </select>
        </p>
        <p>
            <label for="f_count">Количество</label>
            <select name="count" id="f_count">
                {% for val in ['20','50','100'] %}
                <option value="{{val}}">{{val}}</option>
                {% endfor %}
            </select>
        </p>
        <p>
            <input type="checkbox" name="photos" id="f_photos" {% if 'photos' in params %}checked{%endif%}>
            <label for="f_photos">Только с фото</label>
        </p>
        <p>
            <input type="submit" value="Найти" id="submit">
        </p>
    </form>
</div>