* {
  padding: 0;
  margin: 0;
}

.cars {
  background: #f0f0f0;
}

.title {
  padding: 20px;
}

.footer {
  padding-bottom: 70px;
}

.olx {
  background-color: darksalmon;
}

.autoria {
  background-color: honeydew;
}

.rst {
  background-color: burlywood;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 20px;
}

.item {
  -ms-flex-preferred-size: 190px;
      flex-basis: 190px;
  padding: 5px;
  border: 1px solid silver;
  margin-top: 10px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background: cornsilk;
  text-align: end;
}

.img-thumbnail {
  max-width: 150px;
  max-height: 130px;
}

.price {
  font-size: 23px;
  font-weight: bold;
}

.counter {
  display: inline-block;
  vertical-align: top;
  padding-top: 50px;
  padding-right: 10px;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: url("../1.png");
  overflow-x: hidden;
  padding: 20px 10px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 210px;
  padding: 0px 10px;
}

.sidenav p {
  margin: 20px 5px;
}

.sidenav #submit {
  margin-top: 50px;
  margin-left: 30px;
  font-size: large;
  width: 100px;
  height: 50px;
  background: -webkit-linear-gradient(top, #ffdc7f 0, #ffb900 100%);
}

.sidenav select {
  height: 25px;
  width: 70px;
  font-size: 11pt;
  text-align: center;
}

.sidenav label {
  font-size: 110%;
}

.sidenav .price_label {
  width: 60px;
  display: inline-block;
  text-align: right;
}

.sidenav .search {
  margin-left: 80px;
  margin-top: 10px;
}

hr {
  margin-top: 10px;
}
