{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style.css' %}">
    <title>Купить авто</title>
</head>

<body>
    <div class="wrapper">
        <section class="cars">
            <h2 class="title olx">Авто на сайте OLX</h2>
            <hr>
            <div class="content olx">
                {% for car in olx %}
                <div class="item">
                    <span class="counter">{{ forloop.counter }}</span>
                    <a href="{{car.href}}" target="_blank">
                        <img src="{{car.img}}" alt="Фото авто" class="img-thumbnail">
                        <h4>{{car.title}}</h4>
                    </a>
                    <span class="price">{{car.price_S}}</span> {{car.date}}<br>
                    {{car.place}}
                </div>
                {% endfor %}
            </div>
            <hr>
            <div class="footer olx"></div>
        </section>
        <section class="cars">
            <h2 class="title autoria">Авто на сайте Autoria</h2>
            <hr>
            <div class="content autoria">
                {% for car in autoria %}
                <div class="item">
                    <span class="counter">{{ forloop.counter }}</span>
                    <a href="{{car.href}}" target="_blank">
                        <img src="{{car.img}}" alt="Фото авто" class="img-thumbnail">
                        <h4>{{car.title}}</h4>
                    </a>
                    <span class="price">{{car.price_S}}</span> {{car.date}}<br>
                    {{car.place}}
                </div>
                {% endfor %}
            </div>
            <hr>
            <div class="footer autoria"></div>
        </section>
        <section class="cars">
            <h2 class="title rst">Авто на сайте RST</h2>
            <hr>
            <div class="content rst">
                {% for car in rst %}
                <div class="item">
                    <span class="counter">{{ forloop.counter }}</span>
                    <a href="{{car.href}}" target="_blank">
                        <img src="{{car.img}}" alt="Фото авто" class="img-thumbnail">
                        <h4>{{car.title}}</h4>
                    </a>
                    <span class="price">{{car.price_S}}</span> {{car.date}}<br>
                    {{car.place}}
                </div>
                {% endfor %}
            </div>
            <hr>
            <div class="footer rst"></div>
        </section>
    </div>
</body>

</html>